<!-- 课后习题 -->
<!DOCTYPE html>
<html>
<head>
    <script src="js/question.js" type="text/javascript"></script>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>高校教学平台</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
        <div>
        <div id="content">
                        <h2 class="alignCenter">第1章试题</h2>
                        <br />

            <p>1. Which question no longer concerns the modern software engineer?</p>
                        <input type="radio" name="Question1" value=""/> A. Why does computer hardware cost so much?            <br />
                        <input type="radio" name="Question1" value=""/> B. Why does software take a long time to finish?            <br />
                        <input type="radio" name="Question1" value=""/> C. Why does it cost so much to develop a piece of software?            <br />
                        <input type="radio" name="Question1" value=""/> D. Why can't software errors be removed from products prior to delivery?            <br />

            <br />
                        <br />

            <p>2. Software is a product and can be manufactured using the same technologies used for other engineering artifacts</p>
                        <input type="radio" name="Question2" value=""/> A. True            <br />
                        <input type="radio" name="Question2" value=""/> B. False            <br />

            <br />
                        <br />

            <p>3. Software deteriorates rather than wears out because</p>
                        <input type="radio" name="Question3" value=""/> A. Software suffers from exposure to hostile environments            <br />
                        <input type="radio" name="Question3" value=""/> B. Defects are more likely to arise after software has been used often            <br />
                        <input type="radio" name="Question3" value=""/> C. Multiple change requests introduce errors in component interactions            <br />
                        <input type="radio" name="Question3" value=""/> D. Software spare parts become harder to order            <br />

            <br />
                        <br />

            <p>4. WebApps are a mixture of print publishing and software development, making their development outside the realm of software engineering practice.</p>
                        <input type="radio" name="Question4" value=""/> A. True            <br />
                        <input type="radio" name="Question4" value=""/> B. False            <br />

            <br />
                        <br />

            <p>5. There are no real differences between creating WebApps and MobileApps.</p>
                        <input type="radio" name="Question5" value=""/> A. True            <br />
                        <input type="radio" name="Question5" value=""/> B. False            <br />

            <br />
                        <br />

            <p>6. In its simplest form an external computing device may access cloud data services using a web browser.</p>
                        <input type="radio" name="Question6" value=""/> A. True            <br />
                        <input type="radio" name="Question6" value=""/> B. False            <br />

            <br />
                        <br />

            <p>7. Product line software development depends the reuse of existing software components to provide software engineering leverage.</p>
                        <input type="radio" name="Question7" value=""/> A. True            <br />
                        <input type="radio" name="Question7" value=""/> B. False            <br />

            <br />
                        <br />
            <br />
            <div class="alignCenter" >
                <a href={{ url_for("test_answer") }} >
                <input type="button"  value="提交结果"  />
                    </a>
            </div>
                    </div>
    </div>
    <div id="footer">
    <hr />
    <p></p>
</div>
</body>
</html>
</body>
</html>